# geohashbench
Benchmarks to compare golang geohash implementations.

String geohash encoding:

```
{% include 'results/EncodeString.out' %}
```

Integer geohash encoding:

```
{% include 'results/EncodeInt.out' %}
```
