# geohashbench
Benchmarks to compare golang geohash implementations.

## Packages Tested
{% for package in packages -%}
{% set name = '/'.join(package['import'].split('/')[1:]) %}
* [{{ name }}](https://{{ package['import'] }})
{%- endfor %}

## Results

### String Encoding

```
{% include 'results/EncodeString.out' %}
```

### Integer Encoding

```
{% include 'results/EncodeInt.out' %}
```
