# geohashbench
Benchmarks to compare golang geohash implementations.

## Results

### String Encoding

```
{% include 'results/EncodeString.out' %}
```

### Integer Encoding

```
{% include 'results/EncodeInt.out' %}
```

### String Decoding

```
{% include 'results/DecodeString.out' %}
```

## Packages Tested
{% for package in packages -%}
{% set name = '/'.join(package['import'].split('/')[1:]) %}
* [{{ name }}](https://{{ package['import'] }}) ([godoc](https://godoc.org/{{ package['import'] }}))
{%- endfor %}
